body {
    color: gray;
    background: white;
}
body.subtitle > * {
    display: none;
}
body.subtitle .title {
    display: none;
}
body.subtitle .title.active {
    display: block;
}
.title.active {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: black;
    /*background: white;*/
}
#controls {
    position: absolute;
    right: 0; top: 0;
}
body.subtitle #controls {
    display: block;
}
/*
a.symbol {
    display: inline-block;
    width: 19px;
    height: 30px;

}
a.symbol.video {
    background-image: url(/icons/playsymbol.png);
}
a.symbol.scans {
    background-image: url(/icons/leafletmarker.png);
}
*/